name: CI

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: [ubuntu-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
      - run: npm install
      - run: npm run build --if-present
      - run: npm test
        env:
          CI: true
  # deploy:
  #   needs: [build]
  #   runs-on: [ubuntu-latest]
  #   steps:
  #     - run: npm run deploy
